@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root{
    --primary-color:#b1a88b;
    --primary-color-dark:#8f8871;
    --text-dark:#333333;
    --text-light:#767268;
    --extra-light:#ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "Merriweather" , sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),
    url(assets/4.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__card{
    width: 700px;
    border-radius:10px;
    overflow: hidden;
}

.header{
    position: relative;
    height: 10rem;
    background-image: url(assets/4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header img{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 0.5rem solid var(--extra-light);
}

.follow__btn{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    padding: .75rem 2rem;
    font-size: .8rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
}

.follow__btn:hover{
    background-color: var(--primary-color-dark);
}

.content{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    background-color: var(--extra-light);
}

.content__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__left h1{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-dark);
}

.content__left p{
    font-size: .8rem;
    color: var(--text-light);
}

.content__left hr{
    margin: 1rem 0;
    width: 100%;
}

.media{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.followers{
    display: flex;
    flex-direction: column;
    color: var(--text-light);
}

.followers .count{
    font-size: 1.5rem;
}

.followers .text{
    font-size: .8rem;
}

.avatars img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: -15px;
}

.content__right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.feed__card{
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--text-light);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--text-light);
}

.feed{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.feed img{
    width: 30px;
}

.feed h5{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-dark);
}

.social__icons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social__icons .icon{
    font-size: 0.8rem;
    color: var(--text-light);
    transition: 0.3s;
    cursor: pointer;
}

.social__icons .icon:hover{
    color: var(--text-dark);
}

.feed:nth-child(1){
    padding-bottom: 1rem;
}

.feed:nth-child(3){
    padding-top: 1rem;
}