@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root{
    --primary-color:#31b6bf;
    --secondary-color:#e7e7f1;
    --text-dark:#333333;
    --text-light:#767268;
    --extra-light:#f3f4f6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Merriweather', 'sans-serif';
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.profile__card{
    position: relative;
    max-width: 400px;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    background-color: var(--extra-light);
    box-shadow: 10px 10px 50px #9ca3af;
}

.more{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--text-light);
    cursor: pointer;
}

.profile__card img{
    max-width: 100px;
    border-radius: 100%;
    padding: 1rem 0;
}

.name{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.designation{
    font-size: 0.8rem;
    color: var(--text-light);
}

.profile__details{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.profile__details p{
    font-size: 0.8rem;
    color: var(--text-light);
}

.profile__details h4{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.about{
    font-size: 0.8rem;
    color: var(--text-light);
}

.social__icons{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.icon{
    height: 30px;
    width: 30px;
    text-decoration: none;
    font-size: 1rem;
    display: grid;
    place-content: center;
    color: var(--extra-light);
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
}


.twitter{
    background-color: #000000;
}

.twitter:hover{
    box-shadow: 0px 2px 5px #000000;
}


.facebook{
    background-color: #3c5a9b;
}


.facebook:hover{
    box-shadow: 0px 2px 5px #3c5a9b;
}


.google{
    background-color: #ff775d;
}


.google:hover{
    box-shadow: 0px 2px 5px #ff775d;
}


.behance{
    background-color: #1669fd;
}


.behance:hover{
    box-shadow: 0px 2px 5px #1669fd;
}


.view__profile{
    text-decoration: none;
    padding: 0.5rem 3rem;
    font-size: 0.9rem;
    color: var(--text-light);
    border-radius: 8rem;
    border: 1px solid var(--text-light);
    font-weight: 500;
    transition: 0.3s;
}


.view__profile:hover{
    color: var(--extra-light);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0px 2px 10px #9ca3af;
}